name: validate code

on: 
  push:
    branches: 
      - "feature/ci-pipeline"
jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      - name: Setup Java JDK 
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven' 
      - name: Build with Maven
        run: |
          cd BE_java
          mvn -B -U verify       
          
          
          
